/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Gibb_Sans;
    src: url(/fonts/Gibb_Sans.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

